<!DOCTYPE html>
<html lang="en">

<head>

  <!-- 
    This is the Handlebars template for the Admin page 
    - The page displays the current list of logs returned by server.js
    - The user can clear the log by first setting up an admin key
  -->

  <meta charset="utf-8" />
  <link rel="icon" href="https://glitch.com/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Hello SQLite: Logs</title>

  <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />

</head>

<body>
  <div class="wrapper">
    <div class="content" role="main">

      <!-- This is the start of content for our page -->
      <h1>Logs</h1>
      {{#if error}}
      <p class="error">
        {{error}}
      </p>
      {{else}}

      <!-- The server script returns the logs in an array -->
      <p>
        Each time you submit an option through the poll in the <a href="/">Home</a> page, the app will add it to the log. <em>Most recent records will be shown (max 20).</em>
      </p>
      <!-- Write out a table row for each entry in the log array showing choice and timestamp -->
      {{#if optionHistory.length}}
          <div>
            <h2>Poll History</h2>
            <table>
              <tr>
                <th>Option Name</th>
                <th>Timestamp</th>
              </tr>
              {{#each optionHistory}}
                <tr>
                  <td>{{choice}}</td>
                  <td>{{time}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
      {{else}}
      <p class="error">
        No records!
      </p>
      {{/if}}

      <!-- The user can clear the logs if they first set up an admin key in the env -->
      <form action="/reset" method="post">
        <h2>
          Clear vote history
        </h2>
        <p>
          Clear the history only if you are absolutely sure! It cannot be undone.
          <em>(Check the README for instructions on setting up your admin key.)</em>
        </p>
        <p>
          Enter your admin key to confirm:
        </p>
        
        <!-- Server returns a failed flag if the submitted key doesn't match -->
        {{#if failed}}
        <p class="error">
          {{failed}}
        </p>
        {{/if}}
        <input type="password" id="pass" name="key" required>
        <button type="submit">Clear log history</button>
      </form>
      {{/if}}
    </div>
  </div>
  <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
  <footer class="footer">
    <div class="links"></div>
    <a href="/">Home</a>
    <span class="divider">|</span>
    <a href="/logs">Admin</a>
    <a class="btn--remix" target="_top" href="https://glitch.com/edit/#!/remix/glitch-hello-sqlite">
      <img src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140"
        alt="" />
      Remix on Glitch
    </a>
  </footer>
</body>

</html>
